--------------------------------*/ @font-face {
    font-family: 'IranSans';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    src: url('IranianSans.ttf') format('truetype');
}

@font-face {
    font-family: 'IranNastaliq';
    src: url('IranNastaliq.eot?#') format('eot'),
        url('IranNastaliq.ttf') format('truetype'),
        url('IranNastaliq.woff') format('woff');
}

.toggle-box-region {
    background-color: #fff;
    border: 1px solid #d9d9d9;
    padding: 14px 16px;
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 35px;
}

.toggle-box {
    display: none;
}

.toggle-box+label {
    direction: rtl;
    color: #555;
    cursor: pointer;
    display: block;
    font-weight: bold;
    line-height: 30px;
    font-size: 25px;

    padding: 10px 0 1em 40px;
    position: relative;
    margin-left: 930px;
    font-family: 'IranNastaliq';
}

.toggle-box+label+div {
    display: none;
    margin: 0 0 14px;
}

.toggle-box:checked+label:nth-child(n)+div {
    display: block;
}

.toggle-box+label:before {
    position: absolute;
    content: "\f0fe";
    font-family: FontAwesome;
    top: .3em;
    left: 0px;
    color: #0085a6;
}

.toggle-box:checked+label {
    color: #0085a6;
}

.toggle-box:checked+label:before {
    content: "\f146";
}

.toggle-box-content {
    border-bottom: 5px double #41414f;
    color: #000;
    padding: 10px 5em 6em 80px;
}

/* General */
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

padding: 13px 25px;

.box-test {
    padding: 3em;
}


.button1 {
    font-family: 'IranNastaliq';


    padding: 12px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-right: 20px;
    margin-left: 20px;

    cursor: pointer;
    border-radius: 12px;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;

    position: relative;
    float: right;
}