.same-class1 {
  position: absolute;
  width: 90px !important;
  cursor: pointer;
  background-color : #9fddfa !important;
}
.same-class2 {
  position: absolute;
  width: 139px !important;
  cursor: pointer;
  background-color : #9fddfa !important;
}
.same-class3 {
  position: absolute;
  width: 186px !important;
  cursor: pointer;
  background-color : #9fddfa !important;
}
/* Weekly Schedule */
.table1-div{
    margin-top: 0px;
    width: fit-content;
    max-width: 95%;
    display: inline-flex;
    direction: rtl;
    margin-top: 5% !important ;
}
#weeklySchedule_table{
  width: 100%;
  /* height: 100%; */
  border-collapse: separate;
  margin: 0px !important;
  text-align: center !important;
  color: #0a304e;
  border: 1px solid #324f67;
  font-size: smaller !important;
  border-spacing: 1px;
  background-color: #0a304e;
  font-family: 'BMitra' !important;
}
#weeklySchedule_table th,td{
  width: fit-content;
  padding: 0px;
}
#weeklySchedule_table th{
  background-color: white;
}
#weeklySchedule_table td{
  background-color: rgb(255 255 255);
}
.input_readonly_css{
  color: #072339 !important;
  display: inline-block;
  text-align: center !important;
  background-color: initial ;
  cursor: default ;
  font-family: 'BMitra' !important;
  padding: 2px !important;
  border : 0px !important;
  width:  100% !important;
  height: 100% !important;
  font-size: 1.2em;
  font-weight: 600;
} 
.lessonId-css{
  font-size: 14px;
  display: block;
  color: #425488fc;
}
/* END Weekly Schedule */


/* modal */
.btn{
  display: none;
  background-color: red !important;
  color: white !important;
}

.popup{
  display:block;
  width:40%;
  height:55%;
  background:#fff;
  border-radius:5px;
  /* margin:80px auto; */
  padding: 16px;
  z-index:999;
  overflow-y:hidden;
  -webkit-transform:translateY(-300%);
  transform:translateY(-300%);
  -moz-box-shadow: 0px 0px 20px rgba(56,56,56,.2);
  -webkit-box-shadow: 0px 0px 20px rgba(56,56,56,.2);
  box-shadow: 0px 0px 20px rgba(56,56,56,.2);
  text-align:center;
  /* line-height:7em; */
  font-size:2em;
  position: absolute;
  top: 136px;
  left: 32%;
  -webkit-transition: all 900ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 900ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.popup h1{
  color:#0a304e;
  text-transform:capitalize;
  font-weight:unset !important;
  font-size:24px;
  position:relative;
  left:-200%;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition-delay:900ms;
  transition-delay:900ms;
  height: 46px;
  margin: 2px 0px 10px 0px !important;
}

.redError{
  color:red !important;
}

.popup .close{
  position:absolute;
  top: 2px;
  /* right: -234px; */
  right:15px;
  font-size:.9em;
  font-weight:lighter;
  cursor:pointer;
  color:red;
  -webkit-transition:.5s;
  transition:.5s;
}

.overlay{
  overflow-x:hidden;
  overflow-y:hidden;
  -webkit-transition:all 3s ease-in-out;
  transition:all 3s ease-in-out;
}

.overlay::before{
    content: " ";
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 8;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    -webkit-transition:3s;
    transition:3s ;
}
/* modal */