.titles{
    top: 0px;
    margin: 0px;
    cursor: default;
    color: white !important;
    font-weight: initial !important;
}

#top_div{
    width: 80%;
    margin-bottom: 16px;
    /* height: 35%; */
    direction: rtl;
    text-align: center !important;
    display: inline-block;
}
#weeklySchedule_table{
    width: 100%;
    /* height: 100%; */
    border-collapse: separate;
    margin: 0px !important;
    text-align: center !important;
    color: #0a304e;
    border: 1px solid #324f67;
    font-size: smaller !important;
    border-spacing: 1px;
    background-color: #0a304e;
    font-family: 'BMitra' !important;
}
#weeklySchedule_table th,td{
    width: fit-content;
    padding: 0px;
}
#weeklySchedule_table th{
    background-color: white;
}
#weeklySchedule_table td{
    background-color: rgb(255 255 255);
}
.input_readonly_css{
    color: #072339 !important;
    display: inline-block;
    text-align: center !important;
    background-color: initial ;
    cursor: default ;
    font-family: 'BMitra' !important;
    padding: 2px !important;
    border : 0px !important;
    width:  100% !important;
    height: 100% !important;
    font-size: 1.2em;
    font-weight: 600;
} 
title{
    font-family: 'BMitra' !important; 
}
.same-class1 {
    position: absolute;
    width: 80px !important;
    cursor: pointer;
    background-color : #9fddfa !important;
}
.same-class2 {
    position: absolute;
    width: 114px !important;
    cursor: pointer;
    background-color : #9fddfa !important;
}
.same-class3 {
    position: absolute;
    width: 157px !important;
    cursor: pointer;
    background-color : #9fddfa !important;
}
#buttom_div{
    height: 60%;
    width: 80%;
    border: 4px solid #324f67;
    margin-bottom: 16px;
    display: inline-block;
    text-align: center !important;
}
#all_courses_div{
    height: 88%;
    overflow-y: scroll;
}
#all_courses_table {
    border-collapse: collapse;
    font-size: initial;
    direction: rtl;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: lightblue;
}
#head{
    position: relative;
    top: 0px;
    display: inline-flex;
    direction: rtl;
    width: 100%;
    height: 10%;
    background-color: white;
    color: #324f67;
    text-align: center;
    cursor: default;
    padding-top: 1%;
} 
#head p{
    margin: 0px !important;
}
#all_courses_div::-webkit-scrollbar {
    width: 5px;
}
#all_courses_div::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
#all_courses_div::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
} 
#all_courses_table td {
    text-align: center;
    padding: 12px 0px; 
    cursor: pointer;
    color: #072339  !important;
    font-size: 1.25em;
    font-weight: 600;
}  
#all_courses_table tr {
    border-bottom: 1px solid #65b3be;
    text-align: center;     
    background-color: #57acb7;    
}
#all_courses_table tr:hover{
    background-color: #9fddfa;
}
.selected{
    background-color: #9fddfa !important;
}
.errorselect{
    background-color: red;
}
.filter_position{
    margin: 0px;
    float: right;
    border-radius: 1px;
    width: fit-content;
    opacity: 1;
    position: absolute;
    right: 6%;
    top: 74%;
}
.filter_margin{
    margin: 0px 7px;
}
.filter_div{
    display: none;
    width: 50%;
    height: 285px;
    position: fixed;
    top: 24%;
    right: 24.5%;
    background: #1b94a7;
}
.filter_tbl{
    width: 80% !important;
    height: 80% !important;
    position: relative;
    top: 9%;
    right: -1%;
}
.close_filter_css{
    width: 3%;
    float: right;
    color: white;
    cursor: pointer;
}
.td_cursor{
    cursor: cell;
    background-color: #eee !important;
}
.td_one{
    background-color: #71c500 !important;
    cursor: pointer;   
}
.backgray{
    background-color : #b3c5c5 !important;
}
.backgreen{
     background-color : #5ed26a !important;
}
